# Project exclude paths
/.gradle/
/AbstractFactoryPatternDemo/build/
/AbstractFactoryPatternDemo/build/classes/java/main/
/FactoryPatternDemo/build/
/FactoryPatternDemo/build/classes/java/main/
/Singleton/build/
/Singleton/build/classes/java/main/